
/*------------------------
Name: Erica Narvaez
Professor: Arthur Hendela
IS 117-102
Spring 2022
Due Date: 4/25/2022 6:35pm

-------------------------*/
/*----------------------- Header -----------------------*/

header {
    background-color: white;
    border-bottom-color: black;
}

/*Company Logo/name*/
.navbar-brand {
    margin-left: 10px;
    color: #310250;
    font-weight: bold;

}

.navbar-brand img {
    height: 50px;
    width: 80px;
}

/*Nav Bar Styles*/
header .nav-link {
    /*color: #1D3124;*/
    color: #310250;
}

header .navbar-toggler-icon img {
    padding-top: 5px;
    z-index: -1;
}

/*Drop Down Menu*/
header .dropdown-menu {
    background-color: white;
}

.social img {
    padding-right: 5px;

}
/*-----------------------        -----------------------*/

/*----------------------- Footer -----------------------*/

.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: .8rem;
    margin-top: 10px;
}

/*-----------------------        -----------------------*/